### summarize random forests results on Independent Simulation Scenarios for binary outcome

In [1]:
dir = '/panfs/panfs1.ucsd.edu/panscratch/lij014/Stability_2020/sim_data'

In [2]:
dim.list = list()
size = c(50, 100, 500, 1000)
idx = 0
for (P in size){
    for (N in size){
        idx = idx + 1
        dim.list[[idx]] = c(P=P, N=N)
    }
}

files = NULL
for (dim in dim.list){
    p = dim[1]
    n = dim[2]
    files = cbind(files, paste0(dir, '/sim_independent_', paste('P', p, 'N', n, sep='_'), '.RData'))
}

In [3]:
length(files)

[1] 16

In [4]:
avg_FDR = NULL
table_toe = NULL
tmp_num_select = rep(0, length(files))
for (i in 1:length(files)){
    print(paste0('indx: ', i))
    load(paste0(dir, '/binary_update/ind_RF_binary_', i, '.RData')) 
    
    table_toe = rbind(table_toe, results_ind_rf[c('n', 'p', 'rou', 'FP', 'FN', 'ROC', 'Stab')])
    tmp_num_select[i] = mean(rowSums(results_ind_rf$Stab.table))
    
    # calculate FDR
    load(file_name, dat <- new.env())
    sub = dat$sim_array[[i]]
    p = sub$p # take true values from 1st replicate of each simulated data
    coef = sub$beta
    coef.true = which(coef != 0)
    
    tt = results_ind_rf$Stab.table
    FDR = NULL # false positive rate
    for (r in 1:nrow(tt)){
        FDR = c(FDR, length(setdiff(which(tt[r, ] !=0), coef.true))/sum(tt[r, ]))

    }
    
    avg_FDR = c(avg_FDR, mean(FDR, na.rm=T))
}
table_toe = as.data.frame(table_toe)
table_toe$num_select = tmp_num_select
table_toe$FDR = round(avg_FDR,2)

[1] "indx: 1"
[1] "indx: 2"
[1] "indx: 3"
[1] "indx: 4"
[1] "indx: 5"
[1] "indx: 6"
[1] "indx: 7"
[1] "indx: 8"
[1] "indx: 9"
[1] "indx: 10"
[1] "indx: 11"
[1] "indx: 12"
[1] "indx: 13"
[1] "indx: 14"
[1] "indx: 15"
[1] "indx: 16"

In [6]:
head(table_toe)

  n    p   rou FP            FN            ROC     Stab num_select FDR
1 50   50  0   1 ( 0 )       6 ( 0 )       1 ( 0 ) NaN  0.00        NaN
2 100  50  0   1.97 ( 0.13 ) 4.62 ( 0.08 ) 1 ( 0 ) 0.1  3.34       0.55
3 500  50  0   1.26 ( 0.12 ) 2.19 ( 0.08 ) 1 ( 0 ) 0.54 5.07       0.22
4 1000 50  0   0.86 ( 0.09 ) 1.12 ( 0.08 ) 1 ( 0 ) 0.73 5.74       0.13
5 50   100 0   1 ( 0 )       6 ( 0 )       1 ( 0 ) NaN  0.00        NaN
6 100  100 0   4.29 ( 0.17 ) 4.79 ( 0.09 ) 1 ( 0 ) 0.05 5.50       0.77

In [7]:
tail(table_toe)

   n    p    rou FP             FN            ROC     Stab num_select FDR
11 500  500  0   23.08 ( 0.51 ) 2.34 ( 0.1 )  1 ( 0 ) 0.09 26.74      0.86
12 1000 500  0   22.72 ( 0.46 ) 1.34 ( 0.08 ) 1 ( 0 ) 0.14 27.38      0.83
13 50   1000 0   1 ( 0 )        6 ( 0 )       1 ( 0 ) NaN   0.00       NaN
14 100  1000 0   46.76 ( 0.67 ) 4.86 ( 0.09 ) 1 ( 0 ) 0.01 47.90      0.98
15 500  1000 0   47.82 ( 0.66 ) 2.5 ( 0.1 )   1 ( 0 ) 0.04 51.32      0.93
16 1000 1000 0   47.14 ( 0.77 ) 1.46 ( 0.08 ) 1 ( 0 ) 0.07 51.68      0.91

In [8]:
# export result
result.table_toe <- apply(table_toe,2,as.character)
rownames(result.table_toe) = rownames(table_toe)
result.table_toe = as.data.frame(result.table_toe)

# extract numbers only for 'n' & 'p'
result.table_toe$n = tidyr::extract_numeric(result.table_toe$n)
result.table_toe$p = tidyr::extract_numeric(result.table_toe$p)
result.table_toe$ratio = result.table_toe$p / result.table_toe$n

result.table_toe = result.table_toe[c('n', 'p', 'rou', 'ratio', 'Stab', 'ROC', 'FP', 'FN', 'num_select', 'FDR')]
colnames(result.table_toe)[1:4] = c('N', 'P', 'Corr', 'Ratio')

extract_numeric() is deprecated: please use readr::parse_number() instead

extract_numeric() is deprecated: please use readr::parse_number() instead

In [9]:
# convert interested measurements to be numeric
result.table_toe$Stab = as.numeric(as.character(result.table_toe$Stab))
result.table_toe$num_select = as.numeric(as.character(result.table_toe$num_select))

result.table_toe$ROC_mean = as.numeric(sub("\\(.*", "", result.table_toe$ROC))
result.table_toe$FP_mean = as.numeric(sub("\\(.*", "", result.table_toe$FP))
result.table_toe$FN_mean = as.numeric(sub("\\(.*", "", result.table_toe$FN))

In [10]:
# check whether missing values exists
result.table_toe[rowSums(is.na(result.table_toe)) > 0,]

   N  P    Corr Ratio Stab ROC     FP      FN      num_select FDR ROC_mean
1  50   50 0     1    NaN  1 ( 0 ) 1 ( 0 ) 6 ( 0 ) 0          NaN 1
5  50  100 0     2    NaN  1 ( 0 ) 1 ( 0 ) 6 ( 0 ) 0          NaN 1
9  50  500 0    10    NaN  1 ( 0 ) 1 ( 0 ) 6 ( 0 ) 0          NaN 1
13 50 1000 0    20    NaN  1 ( 0 ) 1 ( 0 ) 6 ( 0 ) 0          NaN 1
   FP_mean FN_mean
1  1       6
5  1       6
9  1       6
13 1       6

In [11]:
head(result.table_toe)

  N    P   Corr Ratio Stab ROC     FP            FN            num_select FDR
1   50  50 0    1.00   NaN 1 ( 0 ) 1 ( 0 )       6 ( 0 )       0.00       NaN
2  100  50 0    0.50  0.10 1 ( 0 ) 1.97 ( 0.13 ) 4.62 ( 0.08 ) 3.34       0.55
3  500  50 0    0.10  0.54 1 ( 0 ) 1.26 ( 0.12 ) 2.19 ( 0.08 ) 5.07       0.22
4 1000  50 0    0.05  0.73 1 ( 0 ) 0.86 ( 0.09 ) 1.12 ( 0.08 ) 5.74       0.13
5   50 100 0    2.00   NaN 1 ( 0 ) 1 ( 0 )       6 ( 0 )       0.00       NaN
6  100 100 0    1.00  0.05 1 ( 0 ) 4.29 ( 0.17 ) 4.79 ( 0.09 ) 5.50       0.77
  ROC_mean FP_mean FN_mean
1 1        1.00    6.00
2 1        1.97    4.62
3 1        1.26    2.19
4 1        0.86    1.12
5 1        1.00    6.00
6 1        4.29    4.79

In [12]:
tail(result.table_toe)

   N    P    Corr Ratio Stab ROC     FP             FN            num_select
11  500  500 0     1.0  0.09 1 ( 0 ) 23.08 ( 0.51 ) 2.34 ( 0.1 )  26.74
12 1000  500 0     0.5  0.14 1 ( 0 ) 22.72 ( 0.46 ) 1.34 ( 0.08 ) 27.38
13   50 1000 0    20.0   NaN 1 ( 0 ) 1 ( 0 )        6 ( 0 )        0.00
14  100 1000 0    10.0  0.01 1 ( 0 ) 46.76 ( 0.67 ) 4.86 ( 0.09 ) 47.90
15  500 1000 0     2.0  0.04 1 ( 0 ) 47.82 ( 0.66 ) 2.5 ( 0.1 )   51.32
16 1000 1000 0     1.0  0.07 1 ( 0 ) 47.14 ( 0.77 ) 1.46 ( 0.08 ) 51.68
   FDR  ROC_mean FP_mean FN_mean
11 0.86 1        23.08   2.34
12 0.83 1        22.72   1.34
13 NaN  1         1.00   6.00
14 0.98 1        46.76   4.86
15 0.93 1        47.82   2.50
16 0.91 1        47.14   1.46

In [13]:
result.table_toe

## export
write.table(result.table_toe, '../results_summary_bin/sim_ind_RF_binary.txt', sep='\t', row.names=F)

   N    P    Corr Ratio Stab ROC     FP             FN            num_select
1    50   50 0     1.00  NaN 1 ( 0 ) 1 ( 0 )        6 ( 0 )        0.00
2   100   50 0     0.50 0.10 1 ( 0 ) 1.97 ( 0.13 )  4.62 ( 0.08 )  3.34
3   500   50 0     0.10 0.54 1 ( 0 ) 1.26 ( 0.12 )  2.19 ( 0.08 )  5.07
4  1000   50 0     0.05 0.73 1 ( 0 ) 0.86 ( 0.09 )  1.12 ( 0.08 )  5.74
5    50  100 0     2.00  NaN 1 ( 0 ) 1 ( 0 )        6 ( 0 )        0.00
6   100  100 0     1.00 0.05 1 ( 0 ) 4.29 ( 0.17 )  4.79 ( 0.09 )  5.50
7   500  100 0     0.20 0.40 1 ( 0 ) 3.42 ( 0.16 )  2.01 ( 0.09 )  7.41
8  1000  100 0     0.10 0.49 1 ( 0 ) 3.39 ( 0.19 )  1.14 ( 0.07 )  8.25
9    50  500 0    10.00  NaN 1 ( 0 ) 1 ( 0 )        6 ( 0 )        0.00
10  100  500 0     5.00 0.01 1 ( 0 ) 24.68 ( 0.48 ) 4.5 ( 0.09 )  26.18
11  500  500 0     1.00 0.09 1 ( 0 ) 23.08 ( 0.51 ) 2.34 ( 0.1 )  26.74
12 1000  500 0     0.50 0.14 1 ( 0 ) 22.72 ( 0.46 ) 1.34 ( 0.08 ) 27.38
13   50 1000 0    20.00  NaN 1 ( 0 ) 1 ( 0 )        6 ( 0 )        0.00
14  100 1000 0    10.00 0.01 1 ( 0 ) 46.76 ( 0.67 ) 4.86 ( 0.09 ) 47.90
15  500 1000 0     2.00 0.04 1 ( 0 ) 47.82 ( 0.66 ) 2.5 ( 0.1 )   51.32
16 1000 1000 0     1.00 0.07 1 ( 0 ) 47.14 ( 0.77 ) 1.46 ( 0.08 ) 51.68
   FDR  ROC_mean FP_mean FN_mean
1  NaN  1         1.00   6.00
2  0.55 1         1.97   4.62
3  0.22 1         1.26   2.19
4  0.13 1         0.86   1.12
5  NaN  1         1.00   6.00
6  0.77 1         4.29   4.79
7  0.44 1         3.42   2.01
8  0.38 1         3.39   1.14
9  NaN  1         1.00   6.00
10 0.94 1        24.68   4.50
11 0.86 1        23.08   2.34
12 0.83 1        22.72   1.34
13 NaN  1         1.00   6.00
14 0.98 1        46.76   4.86
15 0.93 1        47.82   2.50
16 0.91 1        47.14   1.46